CUMURU_API_IMAGE={{ cumuru_api_repository_url }}:{{ cumuru_release_tag }}@{{ cumuru_api_image_digest }}
CUMURU_WEB_IMAGE={{ cumuru_web_repository_url }}:{{ cumuru_release_tag }}@{{ cumuru_web_image_digest }}
CUMURU_DOMAIN={{ cumuru_domain }}
ACME_EMAIL={{ cumuru_acme_email }}
MIGRATE_IMAGE={{ cumuru_migrate_image }}
CADDY_IMAGE={{ cumuru_caddy_image }}
MIGRATION_DATABASE_URL=postgresql://cumuru_migration:{{ cumuru_runtime_secret.database_migration_password }}@{{ cumuru_rds_address }}:{{ cumuru_database_port }}/{{ cumuru_database_name }}?sslmode=verify-full&sslrootcert=/etc/ssl/certs/rds-global-bundle.pem
